.dashboard {
  display: flex;
  height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width:190px;
  background-color: var(--sidebar);
  padding: 2rem 1.5rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-right: 3px solid var(--text);
}

.content {
  margin-left:220px;
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.title{
  margin-left: 200px;  
}

.card-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--card);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid var(--text);
}

.card:hover {
  transform: translateY(-4px);
}

.card-icon {
  font-size: 1.5rem;
  color: var(--accent);
}

.dashboard-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-section.fullscreen-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  z-index: 9999;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 8px;
}

.fullscreen-button,
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  padding: 4px;
  border-radius: 4px;
  transition: color 0.2s ease, background 0.2s ease;
}

.fullscreen-button:hover,
.close-button:hover {
  color: #000;
  background-color: #eee;
}

